

<button (click)="selecionarValor(1)">1</button>
<button (click)="selecionarValor(2)">2</button>
<button (click)="selecionarValor(3)">3</button>
<button (click)="selecionarValor(4)">4</button>

<button (click)="selecionarValorDiferente(7)">5</button>
<button (click)="selecionarValorDiferente(6)">6</button>
<button (click)="selecionarValorDiferente(7)">7</button>
<button (click)="selecionarValorDiferente(8)">8</button>

<app-produtividade-detalhada *ngIf="metodoSelecionado" [valor]="valorSelecionado" [titulo]="titulo"></app-produtividade-detalhada>
<app-produtividade-detalhada *ngIf="!metodoSelecionado" [valor]="valorSelecionado" [titulo]="titulo"></app-produtividade-detalhada>

